{% extends 'base.html' %}

{% block content %}
<!--PRAVA FORMA-->
<form action="{{ url_for('bibliotekari_novi') }}" method="POST">
  <div class='container col-lg-2 col-xs-12'>

    <div class="my-5">
     <h3>Novi bibliotekar</h3>
    </div>
   
     <form>
   
     <div class="form-group">
       <label for="ime">Ime</label>
       <input type="text" class="form-control" name="ime" required>
     </div>
   
     
     <div class="form-group">
       <label for="prezime">Prezime</label>
       <input type="text" class="form-control" name="prezime" required>
     </div>
   
     <div class="form-group">
      <label for="obrazovanje">Obrazovanje</label>
      <input type="text" class="form-control" name="obrazovanje" required>
    </div>
   
      <div class="form-group">
      <label for="ri" class="">Radno iskustvo</label> 
      <input type="text" class="form-control mt-2" name="ri" required> 
    </div>

     <div class="form-group">
        <label for="mail">Mail</label>
        <input type="text" class="form-control mt-2" name="mail" required> 
      </div>

      <div class="form-group">
        <label for="telefon">Telefon</label>
        <input type="text" class="form-control mt-2" name="telefon" required> 
      </div>
        
     <input type="submit" value="Sačuvaj" class="btn btn-primary mt-3"  role="button"></input>
   </form>
         
       </div>
     </div>
     
   </div>
  
</form>
{% endblock %}